<div class="container col-lg-12">
  <div class="col-lg-4">
    The AngularJS Codelab is based on ngBoilerplate and follows the industry recognized best practices in developing applications based on the
    AngularJS framework.
  </div>
  <div class="col-lg-8">
    <div class="panel panel-default" ng-if="!formSubmitted && !review">
      <div class="panel-heading">
        Contact Us
      </div>
      <div class="panel-body">
        <div class="container">
          <form class="simple-form" name="contactForm" role="form" ng-submit="submitForm(contactForm)">

            <div class="form-group row">
              <div class="col-lg-3">
                First Name:
              </div>
              <div class="col-lg-9">
                  <input type="text" name="fName" ng-model="user.fName" maxlength=10 placeholder="Enter First Name" required>
                  <span class="text-danger" ng-show="!user.fName || user.fName.length==0">This is a required field.</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-3">
                Middle Name:
              </div>
              <div class="col-lg-9">
                <input type="text" name="fName" ng-model="user.mName" maxlength=10 placeholder="Enter Middle Name">
                <span class="text-danger" ng-show="user.mName.length>10">Maximum of 10 characters allowed.</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-3">
                Last Name:
              </div>
              <div class="col-lg-9">
                <input type="text" name="fName" ng-model="user.lName" maxlength=10 placeholder="Enter Last Name" required>
                <span class="text-danger" ng-show="!user.lName || user.lName.length==0">This is a required field.</span>
              </div>
            </div>

            <div class="form-group row" ng-repeat="phone in phoneNumbers">
              <div class="col-lg-3">
                {{phone.displayLabel}}:
              </div>
              <div class="col-lg-9">
                <input type="text" name="{{phone.inputLabel}}" ng-model="phone.data" minlength=10 maxlength=20 ng-pattern="phonePattern" required>
                <span class="text-danger" ng-show="!phone.data || phone.data.length==0">This is a required field.</span>
              </div>
            </div>

            <div class="col-lg-12">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="panel panel-default" ng-if="review && !formSubmitted">
      <div class="panel-heading">
        Confirm Submission
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            First Name: {{user.fName}}
          </div>
          <div class="row">
            Middle Name: {{user.fName}}
          </div>
          <div class="row">
            Last Name: {{user.fName}}
          </div>
          <div class="row" ng-repeat="phone in phoneNumbers">
            {{phone.displayLabel}}: {{phone.data}}
          </div>

          <button type="submit" class="btn btn-primary" ng-click="finallySubmit()">Submit</button>
        </div>
      </div>
    </div>

    <div class="panel panel-default" ng-if="formSubmitted">
      <div class="panel-heading">
        Message Received
      </div>
      <div class="panel-body">
        <div class="container">
          Your message has been submitted
        </div>
      </div>
    </div>
  </div>
</div>